@import 'core/core';

.wrapper {
  overflow:hidden;
}

header {
  
  position:absolute;
  top:-93px;
  width:100%;
  color:#fff;
  text-shadow:0 0px 6px hsla(0, 0%, 0%, 0.94), 1px 1px 0px #000,  -1px -1px 0px #000;
  text-align:center;
  @include media('>medium') {
    position:static;
    top:auto;
    color:#000;
    text-shadow:none;
    text-align:left;
  }
}

.content {
  @include media('<medium') {
    padding-bottom:44px;
    width:100%;
    margin-left:0;
  }
  margin-left:30%;
}

.recent-header {
  margin-top:2.5rem;
  text-align:center;
  position:relative;
  &:after {
    top:50%;
    content:'';
    display:block;
    position: absolute;
    border-bottom:1px solid #ccc;
    width:100%;
    height:auto;
    z-index:-1;
  }
  span {
    display:inline-block;
    background:#fff;
    z-index:1;
    padding:0 2rem;
  }
}

.mast {
  height:240px;
  margin-bottom:30px;
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
  @include media('>medium') {
    height:30vh;
  }
}


.grid > a {
  display: block;
  margin-bottom: 30px;
}


.grid {
  @include media('>medium') {
    display:flex;
    & > a {
      margin-left:30px;
      margin-bottom: 30px;
    }

  }
}
